

.wrapper {
  font-family: "Kdam Thmor Pro", sans-serif;
  font-weight: 400;
  margin-top: 100px;
  margin-bottom: 60px;
  --input-focus: #0067c7;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --bg-color-alt: #666;
  --main-color: #323232;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    
}

.switch {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 50px;
  height: 20px;
}

.card-side::before {
  position: absolute;
  content: 'Log in';
  left: -80px;
  top: -6px;
  width: 100px;
  text-decoration: underline;
  color: var(--font-color);
  font-weight: 600;
  font-size: 23px;
}

.card-side::after {
  position: absolute;
  content: 'Sign up';
  left: 70px;
  top: -6px;
  width: 100px;
  text-decoration: none;
  color: var(--font-color);
  font-weight: 600;
  font-size: 23px;
}

.toggle {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  box-sizing: border-box;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.3s;
}

.slider:before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  border: 2px solid var(--main-color);
  border-radius: 5px;
  left: -2px;
  bottom: 2px;
  background-color: var(--bg-color);
  box-shadow: 0 3px 0 var(--main-color);
  transition: 0.3s;
}

.toggle:checked + .slider {
  background-color: var(--bg-color);
}

.toggle:checked + .slider:before {
  transform: translateX(30px);
}

.toggle:checked ~ .card-side:before {
  text-decoration: none;
}

.toggle:checked ~ .card-side:after {
  text-decoration: underline;
}


.flip-card__inner {
  width: 420px;
  position: relative;
  background-color: transparent;
  perspective: 1000px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.toggle:checked ~ .flip-card__inner {
  transform: rotateY(200deg);
}

.toggle:checked ~ .flip-card__front {
  box-shadow: none;
}
.flip-card__front{
  margin-left: 2%;
  width: 91%;
}


.flip-card__front, .flip-card__back {
  padding: 20px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #f7fdff63;
  gap: 20px;
  height: auto;
  padding-bottom: 60px;
  border-radius: 5px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.305);
  
}

.flip-card__back {
  right: -1%;
  transform: rotateY(180deg);
  width: 95%;
  
}

.flip-card__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.title {
  margin: 20px 0 20px 0;
  font-size: 45px;
  font-weight: 900;
  text-align: center;
  color: white;
  text-shadow:
    -1px -1px 0 #323232,  
     1px -1px 0 #323232,
    -1px  1px 0 #323232,
     1px  1px 0 #323232;
}

.flip-card__input {
  width: 300px;
  height: 60px;
  border-radius: 5px;
  background-color: var(--bg-color);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.305);
  font-size: 20px;
  color: var(--font-color);
  outline: none;
  border: 0;
  padding: 0px  10px ;
}

.flip-card__input::placeholder {
  color: var(--font-color-sub);
  opacity: 0.8;
}


/* From Uiverse.io by cssbuttons-io */ 
.btn {
  position: relative;
  font-size: 18px;
  width: 320px;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.8em 2em;
  display: inline-block;
  cursor: pointer;
  transition: all 0.2s;
  border: none;
  font-weight: 400;
  color: black;
  background-color: white;
  font-family: "Kdam Thmor Pro", sans-serif;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  border-radius: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

