.page{
    width: 100vw;
    display:flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
}
.create-page {
    display: flex;
    gap: 200px;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.liquid{
    width: 500px;
}

.sketchfab-container {
    width: 500px;  
    height: 530px; 
    overflow: hidden;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    border-radius: 100px;
}

iframe{
    touch-action: none;
}