<div class="page"><app-navbar></app-navbar>
<div class="create-page">
    <div class="sketchfab-container"> 
        <iframe 
            title="Spiral Up Splash B - Static frame HD." 
            frameborder="0" 
            allow="autoplay;" 
            width="900" 
            height="700"
            execution-while-out-of-viewport 
            execution-while-not-rendered 
            xr-spatial-tracking 
            src="https://sketchfab.com/models/3119a082a892426e9a8502b15e0a75dc/embed?autostart=1&transparent=1&ui_infos=0&ui_controls=0&ui_stop=0&ui_watermark=0&ui_zoom=0&ui_annotations=0&ui_inspector=0&preload=1">
        </iframe>
    </div>
    <app-create-form></app-create-form>
</div></div>