<div class="create-form">
    <h2>Agregar Jabon</h2>
<div class="form">
    <label for="">Marca</label>
    <input type="text" name="" id="" placeholder="Ej. Ariel">
</div>
<div class="form">
    <label for="">Nombre del jabon</label>
    <input type="text" name="" id="" placeholder="Ej. Ariel">
</div>
<div class="soap-type">
    <label for="">Tipo de jabon</label>
    <div class="soap-checkbox">
    <div class="check">
<label class="checkbox">
    <input type="checkbox">
    <div class="checkbox-circle">
      <svg viewBox="0 0 52 52" class="checkmark">
        <circle fill="none" r="25" cy="26" cx="26" class="checkmark-circle"></circle>
        <path d="M16 26l9.2 8.4 17.4-21.4" class="checkmark-kick"></path>
      </svg>
    </div>
  </label>
  <label for="">Liquido</label></div>
   <div class="check"><label class="checkbox">
    <input type="checkbox">
    <div class="checkbox-circle">
      <svg viewBox="0 0 52 52" class="checkmark">
        <circle fill="none" r="25" cy="26" cx="26" class="checkmark-circle"></circle>
        <path d="M16 26l9.2 8.4 17.4-21.4" class="checkmark-kick"></path>
      </svg>
    </div>
  </label>
  <label for="">En polvo</label></div></div>
</div>
<div class="check2">
    <div class="form2">
        <label for="">Precio [$/L]</label>
        <input type="text">
    </div>
    <div class="form2">
        <label for="">Densidad [g/ml]</label>
        <input type="text">
    </div>
</div>
<button>Guardar</button>
</div>