<div class="create-form">
  <h2>Agregar Jabón</h2>
  
  <div class="form">
    <label for="marca">Marca</label>
    <input type="text" id="marca" placeholder="Ej. Ariel">
  </div>

  <div class="form">
    <label for="nombreJabon">Nombre del jabón</label>
    <input type="text" id="nombreJabon" placeholder="Ej. Ariel">
  </div>

  <div class="soap-type">
    <label for="">Tipo de jabón</label>
    <div class="soap-checkbox">
      <div class="check">
        <div class="checkbox-wrapper">
          <input type="checkbox" id="liquido" [checked]="tipoJabon === 'liquido'" (change)="seleccionarTipo('liquido')">
          <label for="liquido">
            <div class="tick_mark"></div>
          </label>
        </div>
        <label for="liquido">Líquido</label>
      </div>

      <div class="check">
        <div class="checkbox-wrapper">
          <input type="checkbox" id="polvo" [checked]="tipoJabon === 'polvo'" (change)="seleccionarTipo('polvo')">
          <label for="polvo">
            <div class="tick_mark"></div>
          </label>
        </div>
        <label for="polvo">En polvo</label>
      </div>
    </div>
  </div>

  <div class="check2">
    <div class="form2">
      <label for="precio">Precio [$/L]</label>
      <input type="text" id="precio">
    </div>
    <div class="form2">
      <label for="densidad">Densidad [g/ml]</label>
      <input type="text" id="densidad">
    </div>
  </div>
  <button class="button"> Guardar
  </button>

</div>
