* {
    font-family: "Kdam Thmor Pro", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#paymentBrick_container {
  padding-bottom: 80px;
  width: 100%; 
  min-width: 750px; 
  margin: 0 auto;
  transition: all 0.3s ease; 
}

h1{
  border: 0;
  margin-top: 30px;
  padding-bottom: 10px;
}