.menu{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin-top: 70px;
    background-color: #f7fdff31;
    padding: 30px;
    border-radius: 10px;
}

.options{
    display: flex;
    gap: 70px;
    padding: 20px;
    
}

h1, h2{
    font-family: "Kdam Thmor Pro", sans-serif;
    font-weight: 400;
}

h2{
    font-size: 48px;
}
h1{
    font-size: 64px;
    color: #000000;
}

button{
    padding: 10px;
    color: white;
    width: 18vw;
    height: 38vh;
    border: 0;
    border-radius: 18px;
    margin-bottom: 35px;
}

.liquid-option{
    background-image:url('/assets/liquido.jpg');
    background-size: cover;
}

.powder-option{
    background-image: url('/assets/polvo.jpg');
    background-size: cover;
}
button:hover{
    background-color: #2b74b8;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}